body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f9fa;
    color: #343a40;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    overflow: hidden;
}

ul {
    display: flex;
    justify-content: center; /* Center the flex container horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

li {
    list-style-type: none;
}

a {
    list-style-type: none;
    margin: 0 2%;
    padding: 1% 2%;
    overflow: hidden;
    background-color: #007bff;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

a:hover,
a:active {
    background-color: #ddd;
    color: black;
}



.container {
    width: 80%;
    margin: 20px 0;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #6c757d;
}

input[type="number"], select, button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50; /* Common color scheme */
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Adjusted color for hover state */
}

.result {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4caf50; /* Common color scheme */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

canvas {
    width: 100%;
    margin: auto;
    margin-top: 2%;
    display: block;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

@media only screen and (max-width: 599px) {
    .container {
        width: 95%;
    }
    table {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .container {
        width: 90%;
    }

    input[type="number"], select, button {
        width: 96%;
        padding: 1%;
        margin-bottom: 2%;
        border: 1px solid #ccc;
        border-radius: 2%;
        box-sizing: border-box;
    }

    #resultTable {
        width: 96%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}
